body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #212121;
    user-select: none;
}

.contaner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;

    border-radius: 10%;
    padding: 40px 60px;
}

.reset {
    padding: 15px 20px;
    background: rgb(33, 33, 33);
    background: linear-gradient(200deg, rgba(33, 33, 33, 1) 0%, rgba(9, 9, 121, 1) 53%, rgba(33, 33, 33, 1) 100%);
    width: 100%;
    border: none;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    letter-spacing: 0.1;/*Espacamento das letras*/
    cursor: pointer;
    font-weight: 600;
}
.reset:focus{/*Mudar a cor quando aperta */
    background: rgb(24,0,208);
    background: linear-gradient(233deg, rgba(24,0,208,1) 0%, rgba(19,138,227,1) 0%, rgba(15,247,242,1) 50%, rgba(19,126,225,1) 100%, rgba(23,15,210,1) 100%);
    color: black;
}

h2{
    font-size: 3em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1;/*Espacamento das letras*/
}
.game{
    width: 430px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    transform-style:preserve-3d;
    perspective: 500px;
}
.item{
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: #686868;
    font-size: 55px;

    padding: 5px;
    transform: rotatey(180deg);
    transition: 0.25s;
}
.item::after{
content: "";
position: absolute;
inset: 0;
background-color: #686868;
transition: 0.25;
transform: rotate(0deg);
backface-visibility: hidden;
}
.item.boxOpen{
    transform: rotateY(0deg);
}
.boxOpen::after,
.boxmatch::after{
    transform: rotateY(180deg);   
}
